.funny-glasses {
    position: relative;
    right: -13.2em;
    top: -6.8em;
}

.bandana {
    position: absolute;
    top: 160px;
    left: 122px;
}

.pawprint {
    position: fixed;
    top: 45px;
    left: 65px;
}

.luna {
    position: sticky;
    left: 0;
}

.top-hat {
    z-index: 1;
}